<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}">List Homepage</h1>
    <div th:if="${users.isEmpty()}">
        <h2>No users found</h2>
    </div>
    <table th:if="${!users.isEmpty()}">
        <thead>
            <tr>
                <th>Name</th>
                <th>lastname</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>